@()


@main(title = "administration_home") {
  	<script type="text/javascript">

		</script>
} {

       <div id="content-center">
            <div id="nav-tabs">
                <ul id="tabs">
                  <li class="tab3">
                  <!-- Travant ; fixed by AJE 2016-09-26
                  <a id="tab2-link" >@Messages("ingestion.home.issue.level.holdings")</a>
                  -->
                    <a id="tab2-link" href="index.html">@Messages("menu.administration")</a>
                  </li>
                </ul>
            </div>


        </div>
        <!--<div id="content-right">DUPLICATED DIV TAG FROM TRAVANT-->

        <div id="content-right">
        	 <div id="inner-content-right">
        	 </div>
        </div>

}