@()


@main(title = "administration_home") {
  	<script type="text/javascript">
			
		</script>
} {
	
       <div id="content-center">
            <div id="nav-tabs">
                <ul id="tabs">

                    <li class="tab3"><a id="tab2-link" href="index.html">@Messages("ingestion.home.issue.level.holdings")</a></li>
                </ul>
            </div>
            
           
        </div>
        <div id="content-right">
        
        <div id="content-right">
        	 <div id="inner-content-right">
        	 </div>    
        </div>
  
}