@()

@main(title = "advance_editing_linking") {

    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
<!--
AJE 2016-11-23 jquery-ui may be the cause of the "Error: multiple define" that pops up on these pages
<script src="@routes.Assets.at("javascripts/jquery-ui-1.11.3/jquery-ui.js")" type="text/javascript"></script> -->

  <script type="text/javascript">
    // AJE 2016-11-23 added next, after search_home.scala.html to resolve error...
  	var call1 = false;
  	var call2 = false;
		require(["dijit/TitlePane", "dojo/dom", "dojo/domReady!", "dojo/query", "dijit/registry", "dojox/widget/Standby"]);
    // end AJE 2016-11-23

		 var publisher = {};

		 var periodicityType = {};

		 $( document ).ready(function() {
    		dojo.xhrGet({
	       			 handleAs: 'json',
	       				 url: "/advancedEditing/GetPublishers",
	       				 preventCache: false,
	        	   		 error: function(e) {
	            			alert("advanced_editing_history.scala.html, GetPublishers Error: " + e.message);
	        		},
	        		load: populatePublisher
	    		});

	    		dojo.xhrGet({
	       			 handleAs: 'json',
	       				 url: "/advancedEditing/GetPeriodicityType",
	       				 preventCache: false,
	        	   		 error: function(e) {
	            			alert("advanced_editing_history.scala.html GetPeriodicityType Error: " + e.message);
	        		},
	        		load: populatePeriodicityType
	    		});
  	  	});


		function populatePublisher(response, ioArgs){
			publisher = response;
		}

		function populatePeriodicityType(response, ioArgs){
			periodicityType = response;
		}

  </script>

  <script src="@routes.Assets.at("javascripts/ihs_common.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ihs_search.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/advance_linking.js")" type="text/javascript"></script>

} {

    <div id="content-center">
      <div id="nav-tabs">
        <ul id="tabs">
          <li class="tab3"><!--Travant screwed this up; fixed 2016-Sept., removed Travant 2016-Nov.-->
          <a id="tab2-link">@Messages("menu.advanced.editing")</a>
          </li>
        </ul>
      </div>

<!--
AJE 2016-11-22 Travant has this block defined twice! see below about line 61, which is the one that appears in the page
<div id="dialog" title="Basic dialog" style="display: none;">
  <p id="search-criteria">
	  <form id="search_boxes_form">
	  @Messages("search.journal.title_browse"):&nbsp;<input class="search" type="text" id="browse_titleid" /><br/>
	  @Messages("search.journal.title_contains"):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="search" type="text" id="contains_titleid" /><br/>
		@Messages("search.journal.title_keyword"):&nbsp;&nbsp;<input class="search" type="text" id="titleid" /><br/>
		@Messages("search.journal.issn"):&nbsp;&nbsp;&nbsp;&nbsp;<input class="search" type="text" id="issnid" /><br/>
		@Messages("search.journal.oclc"):&nbsp;&nbsp;&nbsp;<input class="search" type="text" id="oclcid" />
		</form>
	</p>
	<hr/>
	<h2>@Messages("search.journal.results")</h2>
	<div id="dialogue-results">
	</div>
</div>
-->

      <div id="search">
        <div style="padding-left:16px;">
          <h2 class="content_header">@Messages("advanced.editing.search.journals.to.edit.linking")</h2>
          <p id="search-criteria">
            <form id="search_boxes_form"><!--AJE 2016-10-26 wrap them in a form tag so can call reset() on the form and erase previous searches-->
              @Messages("search.journal.title_browse"):&nbsp;<input class="search" type="text" id="browse_titleid" /><br/>
              @Messages("search.journal.title_contains"):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="search" type="text" id="contains_titleid" /><br/>
              @Messages("search.journal.title_keyword"):&nbsp;&nbsp;<input class="search" type="text" id="titleid" /><br/>
              @Messages("search.journal.issn"):&nbsp;&nbsp;&nbsp;&nbsp;<input class="search" type="text" id="issnid" /><br/>
              @Messages("search.journal.oclc"):&nbsp;&nbsp;&nbsp;<input class="search" type="text" id="oclcid" />
            </form>
          </p>
          <hr/>
  				<h2 id="search_results_header">@Messages("search.journal.results")</h2>
  				<div id="results"></div>
  				<div id="summary" style="display:none;"><!--AJE 2016-09-29 empty div as quickest way to make toggle_search_home_title_components work like that on search_home--></div>
  				<div id="timeline" style="display:none;"><!--AJE 2016-09-29 same again--></div>
  				<div id="issues" style="display:none;"><!--AJE 2016-09-29 same again--></div>
        </div>
      </div>

    	<div id="dialogue-results">
    	  <!--AJE 2016-11-28 accomodating some script; this id was in the block that Travant double-defined, so copied in here-->
    	</div>

		 <div id="link" style="display: none;">
				<div id="links-parents" class="links"></div>
				<div id="links-current" class="links"></div>
				<div id="links-children" class="links"></div>
		 </div>

    </div><!--end #content-center-->

    <div id="content-right">
      <div id="inner-content-right"></div>
    </div>

}