@()
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.Play.current

@main(title = "ingestion_home") {
<script type="text/javascript">
	require(["dojo/dom", "dojo/parser", "dijit/form/Button", "dojo/dom", "dojo/domReady!"]);


	require(["dojox/grid/DataGrid", "dojo/data/ItemFileReadStore", "dojo/dom", "dojo/domReady!"], function(DataGrid, ItemFileReadStore, dom) {


		var data = { items: [
			                   	{ creationDate: '', jobName: '', dataSource: '', member: '', User: '', jobStatus: '', statusDetail: '' }
			                   	]};

		var store = new ItemFileReadStore({data: data});

		var layout = [
		               { 'name': '@Messages("ingestion.home.start.date")', 'field': 'creationDate', 'width': '120px'},
		               { 'name': '@Messages("ingestion.home.job.name")', 'field': 'jobName', 'width': '150px'},
		               { 'name': '@Messages("ingestion.home.data.source")', 'field': 'dataSource', 'width': '80px'},
		               { 'name': '@Messages("ingestion.home.organization")', 'field': 'member', 'width': '80px'},
		               { 'name': '@Messages("ingestion.home.user")', 'field': 'User', 'width': '70px'},
		               { 'name': '@Messages("ingestion.home.job.status")', 'field': 'jobStatus', 'width': '90px'},
		               { 'name': '@Messages("ingestion.home.status.detail")', 'field': 'statusDetail', 'width': '190px'}
		               ];



		var grid = new DataGrid({
			id: 'ingestion-job-summary',
			store: store,
			structure: layout,
			autoWidth: true,
			selectionMode: 'none',
			escapeHTMLInData: false
		});

		grid.placeAt("ingestion-summary-div");
		grid.startup();

		getJobs('getAUserIngestionJobs');
	});


	  function populateIngestionJobSummary(response, ioArgs){

	  		var dataExceptionStore = new dojo.data.ItemFileReadStore({
	    			 	data: {
	         			items: response
	     			}
	 			});

	 			var dataExceptionGrid = dijit.byId('ingestion-job-summary');

		dataExceptionGrid.setStore(dataExceptionStore);
	  }

	function getJobs (url){

	     dojo.xhrGet({
	     			handleAs: 'json',
	     			url: "ingestion/" + url,
	     			preventCache: true,
	     			error: function (e) {
	         			alert("Error: " + e.message);
	     			},
	     			load: populateIngestionJobSummary
	  	     });
	  	}

</script>
} {
<div id="content-center">
	<div id="nav-tabs">
    <ul id="tabs">
        <li class="tab3">
        <!-- Travant ; fixed by AJE 2016-09-26
        <a id="tab2-link" >@Messages("ingestion.home.issue.level.holdings")</a>
        -->
        <a id="tab2-link">@Messages("ingestion.home.ingestion.jobs.summary")</a>
        </li>
    </ul>
	</div>
	<h2 class="content_header">@Messages("ingestion.home.ingestion.jobs.summary")</h2>
	<br />
	<div id="ingestion-summary-div" style="margin-left:16px;height:782px;">
	</div>
</div>
<div id="content-right">
	<div id="inner-content-right">
		<h2>@Messages("tools")</h2>
		 @restrict( scala.collection.immutable.List( as( "admin" ) ) ){
			<button id="button_1" onClick = "getJobs('getAllIngestionJobs');">@Messages("ingestion.home.show.All.Members.Jobs")</button>
			<button id="button_5" onClick = "getJobs('getAllArchiveUserJob');">@Messages("ingestion.home.show.completed.jobs")</button>
			<button id="button_4" onClick = "getJobs('getAllQuedUserJobs');">  @Messages("ingestion.home.show.only.queued.jobs")</button>
		}
		<button id="button_2" onClick = "getJobs('getAMemberIngestionJobs');">@Messages("ingestion.home.show.only.my.member.jobs")</button>
		<button id="button_2" onClick = "getJobs('getAUserIngestionJobs');">@Messages("ingestion.home.show.only.my.jobs")</button>

	</div>
</div>
}