@(error: Boolean)

@import helper._

<!DOCTYPE html>

<html>
<head>

    <title>PAPR - Print Archive and Preservation Registry</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ihs_styles.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <script src="@routes.Assets.at("javascripts/ihs.js")" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/dojo-release-1.9.0/dijit/themes/nihilo/nihilo.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/dojo-release-1.9.0/dojox/grid/resources/nihiloGrid.css")">

  <!-- AJE 2016-09-27 fix Travant spelling error 'conifg' > 'config', which is how this directive is expressed in 45 other files
	<script src="@routes.Assets.at("javascripts/dojo-release-1.9.0/dojo/dojo.js")" data-dojo-conifg="async: true"></script>
	-->
	<script src="@routes.Assets.at("javascripts/dojo-release-1.9.0/dojo/dojo.js")" data-dojo-config="async: true"></script>


</head>
<body id="tab3" class="nihilo">
<div id="container">
    <div id="header">
        <div id="header-left">
            <a id="logo-link" href="../index.html"><img id="logo"
                                                        src="@routes.Assets.at("images/papr_logo.gif")" width="268" height="40"
                                                        alt="Print Archives Preservation Registry" /></a>
        </div>
        <div id="header-right">
            <div id="credentials">
            @helper.form(routes.Login.doLogin) {
                <span id="login-error">@if(error) { @Messages("login.invalid.user.password") }</span>
                <input class="pre-input" type="text" name="user" id="login-form_user"
                       onfocus="if(this.value=='User Name'){this.value=''; this.className='with-input';}"
                       onblur="if(this.value==''){this.value='User Name';this.className='pre-input'}"
                       onkeypress="if(event.keyCode==13)login();"
                       value="User Name" required/>
                <input class="pre-input" type="text" name="password" id="login-form_pass"
                       onfocus="if(this.value=='Password'){this.value=''; this.className='with-input';this.type='password';}"
                       onblur="if(this.value==''){this.value='Password';this.className='pre-input';this.type='text';}"
                       onkeypress="if(event.keyCode==13)login();"
                       value="Password"/>
                 <input type="submit" value=Login>
              }
            </div>
        </div>
    </div>
  <div class="hr"></div>
    <div id="content">
        <div id="content-left">
        </div>
        <div id="content-center">
        </div>
        <div id="content-right">
        </div>
    </div>
    <div id="footer">
        <p>

        </p>
    </div>
</div>
<!-- End Content -->
</body>
</html>