@()

@main(title = "publishing_publish_new_data") {

	<!--AJE 2016-11-01 ihs_common.js was included first: see if loading jquery first helps with some weirdness-->
<!--<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script> AJE 2016-12-13 main.scala.html will hold jquery-->

<!--
AJE 2016-11-23 jquery-ui may be the cause of the "Error: multipleDefine" that pops up on these pages
  2016-12-07 but this error goes away sometimes...
2016-12-13 "Error: multipleDefine"
<script src="@routes.Assets.at("javascripts/jquery-ui-1.11.3/jquery-ui.js")" type="text/javascript"></script>
-->

	<script src="@routes.Assets.at("javascripts/ihs_common.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/ihs_publishing.js")" type="text/javascript"></script>

<script type="text/javascript">
// AJE: this script block was empty until 2016-12-13
console.info("dijit/form/DateTextBox will require next");
	require(["dijit/form/DateTextBox"]);
</script>
} {
       <div id="content-center">
            <div id="nav-tabs">
                <ul id="tabs">
                    <li class="tab3">
                    <!-- Travant ; fixed by AJE 2016-09-26
                    <a id="tab2-link" >@Messages("ingestion.home.issue.level.holdings")</a>
                    -->
                    <a id="tab2-link">@Messages("menu.publishing")</a>
                    </li>
                </ul>
            </div>

           <h2 class="content_header">@Messages("publishing.start.a.new.publishing.Job")</h2>
           <br />
           <!-- AJE 2016-09-26 add div tag to move the form widgets off the left edge; add line breaks, other minor changes-->
           <div id="publishingJobFormHolder" class="admin_form_alignment">
              Exporting Job Name:&nbsp;<input class="ingestion-form" type="text" id="jobName"/>
              <br /><br />
              File Format Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <select class="ingestion-form" id="fileFormat">
                <option value="1">MARC Text File (.mrk)</option>
                <option value="2">Portico Excel File (.xls, .xlsx)</option>
                <option value="3">IHS Holdings Data Excel File (.xls, .xlsx)</option>
                <option value="4">IHS Holdings Data CSV File (.csv)</option>
              </select>
              <br /><br />
<!--Travant version: 2016-12-13
              Start Date: <input type="text" size="10" id="startDate" />
              <br/><br/>
              End Date: &nbsp;<input type="text" size="10" id="endDate" />
              <br/><br/>
-->

              Start Date:
                <input type="text" size="10" id="startDate"/>
              <br/><br/>
                End Date: &nbsp;
                <input type="text" size="10" id="endDate"/>
              <br/><br/>
<!--               Dojo Date: &nbsp;
                <input type="text" size="10" id="dojoDate"
                  data-dojo-type="dijit/form/DateTextBox"
                  required = "false"
                  promptMessage = "please test the dojoDate field - this is an experiment only"
                />
              <br/><br/>-->

              <div style="float:left">
              <input type="submit" value="Start Export Job" onclick="submitPub();"/>
              <!--function submitPub() in public\javascripts\ihs_publishing.js-->
              </div>
            </div><!--AJE 2016-09-26 end #publishingJobFormHolder-->
        </div>

        <div id="content-right">
        	 <div id="inner-content-right">
        	 </div>
        </div>

}