@()

@main(title = "reporting_new_report") {

	<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/ihs_search.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/ihs_common.js")" type="text/javascript"></script>

  	<script type="text/javascript">

	var report = "";

	var memberId =0;

	var reportingView = 0;

	var titleId = 0;


		require(["dijit/form/ComboBox", "dojo/store/Memory", "dojo/dom", "dojo/domReady!"], function(ComboBox, Memory,  dom) {

		dojo.xhrGet({
    	    handleAs: 'json',
       		 url: "/reporting/getReportingView",
        		preventCache: false,
        	load: function(data) {

        		reportingView = data;
        	},
        	error: function(e) {
            	alert("Error: " + e.message);
        	}
    	});

				//

				 var stateStore = new Memory({
    			    data: [
            			{name:"", id:""}
        				]
    				});


				//
				var select = ComboBox({
					name: "stateMember",
					id: "stateMember",
					placeHolder: "",
					store: stateStore,
					style: "width: 127px; height: 19px;",
					onChange: function(){
						var val = dijit.byId("stateMember").get("value");
						memberId=0;
						for (var index = 0, len = members.length; index < len; ++index) {
							if(members[index].name == val){
								memberId = members[index].id;
							}
						}
					}
				}, "member");
				select.startup();

				dojo.xhrGet({
	       			 handleAs: 'json',
	       				 url: "/search/getMembers",
	       				 preventCache: false,
	        	   		 error: function(e) {
	            			alert("Error: " + e.message);
	        		},
	        		load: populateMember
	    		});
		});

		function populateMember(response, ioArgs){

			var test= response;

			var store = new dojo.store.Memory(response)
	    	dijit.byId("stateMember").store = store;
	    	members=response.data;
		}

		function reportTypeSelect(e){

			if(e.value == "IssuesHeld"){

				report="IssuesHeld";

				document.getElementById("IssuesHeld").style.display = 'block';
				document.getElementById("JournalFamily").style.display = 'none';
				document.getElementById("BibliographicHistory").style.display = 'none';
				document.getElementById("file-source").style.display = 'block';
					document.getElementById("search-panel").style.display = 'none';
			}else if(e.value == "JournalFamily"){

				report="JournalFamily";

				document.getElementById("IssuesHeld").style.display = 'none';
				document.getElementById("JournalFamily").style.display = 'block';
				document.getElementById("BibliographicHistory").style.display = 'none';
				document.getElementById("file-source").style.display = 'block';
				document.getElementById("search-panel").style.display = 'block';
			}else if(e.value == "BibliographicHistory"){

				report = "BibliographicHistory";

				document.getElementById("IssuesHeld").style.display = 'none';
				document.getElementById("JournalFamily").style.display = 'none';
				document.getElementById("BibliographicHistory").style.display = 'block';
				document.getElementById("file-source").style.display = 'block';
				document.getElementById("search-panel").style.display = 'block';

			}

		}


	function populateSearchList(response, ioArgs) {
	    var results = document.getElementById('results');

	    results.style.visibility = "visible";

	    var ul = document.getElementById('search-list');

	    if (ul != null) {
	        results.removeChild(ul);
	    }

	    ul = document.createElement('ul');
	    ul.setAttribute('id', 'search-list');

	    for (i = 0; i < response.items.length; i++) {
	        var li = document.createElement('li');
	        var a = document.createElement('a');

	        a.innerHTML = response.items[i].title;
	        a.setAttribute('href', 'javascript:setJournal( "' + response.items[i].title + '",' + response.items[i].titleId + ');');
	        a.setAttribute('title', response.items[i].title);
	        li.appendChild(a);
	        ul.appendChild(li);
	    }

	    results.appendChild(ul);

	}

	function setJournal(title, tmpTitleId){

		titleId = tmpTitleId;

		if(report == "IssuesHeld"){

		}else if(report == "JournalFamily"){
			$('#title1').val(title);
		}else if(report == "BibliographicHistory"){
			$('#title2').val(title);
		}

	}

	function submitPub(){


		var errorMessage = '';

		if(report == ''){
			errorMessage += 'Choose a Report \n' ;
		}

		if(report == "IssuesHeld"){

			var mem = dijit.byId("stateMember").get("value");
			if(mem == ""){
				errorMessage += 'Choose a Member \n' ;
			}else{
				for (var index = 0, len = members.length; index < len; ++index) {
							if(members[index].name == mem){
							memberId = members[index].id;
					}
				}
			}

		}else if(report == "JournalFamily"){

			if( $('#title1').val() == ''){
				errorMessage += 'Choose a Title \n' ;
			}

		}else if(report == "BibliographicHistory"){

			if( $('#title2').val() == ''){
				errorMessage += 'Choose a Title \n' ;
			}
		}

		if(errorMessage != ''){
			alert(errorMessage);
			return;
		}

	showWaiting();

	reportingView.report=report;
	reportingView.memberId=memberId;
	reportingView.titleId=titleId;
	reportingView.formatType=$('input:radio[name=formatType]:checked').val();
	reportingView.orderby=$('input:radio[name=orderby]:checked').val();


	dojo.rawXhrPost({
        url: "/reporting/submitReport",
        postData: dojo.toJson(reportingView),
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        handleAs: "text",

        load: function(data) {
        	hideWaiting();
   	 		window.location="/reporting_previous_reports";

        },
        error: function(error) {
        	 hideWaiting();
            alert("Error:" + error);
        }
    });

}
		</script>
} {

       <div id="content-center">
            <div id="nav-tabs">
                <ul id="tabs">
                    <li class="tab3">
                    <!-- Travant ; fixed by AJE 2016-09-26
                    <a id="tab2-link" >@Messages("ingestion.home.issue.level.holdings")</a>
                    -->
                    <a id="tab2-link">@Messages("reporting.create.a.new.report")</a>
                    </li>
                </ul>
            </div>

           <h1>@Messages("reporting.create.a.new.report")</h1><br />

  			<div class="new-form">
  			Report Type:&nbsp;<select id="report-type-select" class="ingestion-form" onchange="reportTypeSelect(this)">
							<option value="" selected></option>
							<option value="IssuesHeld">Issues Held by Member</option>
							<!-- <option value="JournalFamily">Complete Journal Family</option> -->
							<option value="BibliographicHistory">Journal Bibliographic Data History</option>
				</select><br /><br />

				<div id="IssuesHeld" style="display:none;">
							Member:<div id="member"  style="float: left;"> ></div>
							<br />

							<br />
						</div>
						<div id="JournalFamily" style="display:none;">
							Title:&nbsp;<input class="ingestion-form" type="text" id="title1" disabled/><br /><br />
							<br />
						</div>
						<div id="BibliographicHistory" style="display:none;">
							Title:&nbsp;<input class="ingestion-form" type="text" id="title2" disabled/><br /><br />
							Version Order:&nbsp;
							<div style="width:200px;float:right;"><input type="radio" name="orderby" />Newest First</div>
							<div style="width:200px;float:right;"><input type="radio" name="orderby" checked />Oldest First</div>
							<br /><br />

						</div>

						<div style="float:left">
								<br /><br />
								<input type="submit" value="Generate Report" onclick="submitPub();"/>


						</div>

						<div id="file-source" style="display:none;">

						</div>

						<br /><br />

						<div id="search-panel" style="padding-left:16px;display:none;width:600px;">
							<br /><br />
							<hr />
							<h2>Search Journals</h2><br />
							<p id="search-criteria">
								@Messages("search.journal.title"): <input class="search" onkeyup="searchJournalByTitle(this);" type="text" id="titleid" /><br />
								<br>
								@Messages("search.journal.issn"): <input class="search" onkeyup="searchJournalByISSN(this);" type="text" id="issnid" /><br />
								<br>
								@Messages("search.journal.oclc"): <input class="search" onkeyup="searchJournalByOCLC(this);" type="text" id="oclcid" /><br />



							</p>

							<hr/>
							<h2>@Messages("search.journal.results")</h2>
								<div id="results">


							</div>
						</div>

			</div>
        </div>
        <div id="content-right">

        <div id="content-right">
        	 <div id="inner-content-right">
        	 </div>
        </div>

}